# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore virtual environments
data_preprocessing/
.env/
sentiment140/*
!sentiment140/



# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE settings (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Ignore other unnecessary files
*.log
